form .form-group{
  width: 95%; 
  height: 55px;
  gap: 24px
}

form .input-group-text, 
form .form-control{
  background: #1E1E1E !important;
}

form .form-control::placeholder {
  color: #949494; 
  opacity: 1; 
}

form .input-group-text{
  border-radius: 12px 0 0 12px;
}
form .form-control{
  border-radius: 0 12px 12px 0;
  height: 55px;
}
.or-text{
  color: #898989
}